
<body onload="myFunction()" style="background-image: url('../assets/img/signupbackground.jpeg');height: 100%; background-repeat: no-repeat;
  background-size: cover;position: relative;z-index: 999">
 
<div class="wrapper fadeInDown">    
    
  
    <div id="formContent">
          <h1> <img src="../../assets/img/logo.png" style="border-radius: 5px" alt="logo">Reset Password</h1>
        
        <div>
            <img class="lazyload" src="../assets/img/user.png" data-orig-src="../assets/img/user.png" id="icon" alt="User Icon" />
          </div>
            <form #resetForm="ngForm" (ngSubmit)="onSubmit(resetForm)">
			
			<div class="form-group">
				
				<input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required>
                
                <input type="password" name="password" #email="ngModel" [(ngModel)]="model.password" placeholder="New Password" required>
                
                <input type="password" name="confirm" #email="ngModel" [(ngModel)]="model.confirm" placeholder="Confirm Password"  required>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Submit">
                <a routerLink="/login"><button  type="button" class="btn btn-danger">Click Here To Login</button></a>
			</div>
    
<div class="success" *ngIf="showSucessMessage">
   Your Password Has Been Updated
</div>                
                
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
  </div>
                
		</form>
    </div>
    
    </div>  
    
      <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
   
</body>  
